# ----
*                     @mxmehl @cornelius
/teams/osrd.yaml      @openrailassociation/OSRD-Admins
/teams/rcm-dx.yaml      @openrailassociation/RCM-DX
/teams/technical-committee.yaml      @openrailassociation/Technical-Committee-Maintainers
