# ----
*                     @OpenRailAssociation/Openrail-GitHub-Organization-Config
/teams/dac-migration-dss.yaml      @openrailassociation/DAC-Migration-DSS
/teams/osrd.yaml      @openrailassociation/OSRD-Admins
/teams/rcm-dx.yaml      @openrailassociation/RCM-DX
/teams/technical-committee.yaml      @openrailassociation/Technical-Committee-Maintainers
