# ----
*                     @OpenRailAssociation/Openrail-GitHub-Organization-Config
/teams/dac-migration-dss.yaml      @openrailassociation/DAC-Migration-DSS-Maintainers
/teams/liblrs.yaml      @openrailassociation/liblrs-admins
/teams/nge.yaml      @openrailassociation/NGE-Admins
/teams/osrd.yaml      @openrailassociation/OSRD-Admins
/teams/rcm-dx.yaml      @openrailassociation/RCM-DX
/teams/technical-committee.yaml      @openrailassociation/Technical-Committee-Maintainers
/teams/wg-project-scouting.yaml      @openrailassociation/Project-Scouting-Working-Group-Maintainers
/teams/hack4rail.yaml     @openrailassociation/Hack4Rail-Organizers
